span.e-input-group-icon.e-date-icon.e-icons { 
        display: none; 
    }

/* visibility:hidden;filter: invert(1); */
input[type="date"]::-webkit-calendar-picker-indicator { position: absolute; left: 0;width:90%;opacity: 0.0; }
input::-webkit-datetime-edit { position: relative; left: 0; }
input::-webkit-datetime-edit-fields-wrapper { position: relative; left: 0; }


